html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block; }
body {line-height: 1; }
ol, ul {list-style: none; }
blockquote, q {quotes: none; }
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none; }
table {border-collapse: collapse; border-spacing: 0; }

/*Page styles*/
body{margin:0px;}
header {border-bottom:1px solid #ccc;display:none;}
header ._bcg-logo img{height:50px;padding:15px;}

._bcg-main-container {padding:15px;}
._bcg-main-container ._bcg-image-container {width:60%;float:left;position: relative;}
._bcg-main-container ._bcg-image-container img{width:90%;padding-right: 10%;}
._bcg-main-container ._bcg-image-container ._bcg-image-overlay{background-color: rgba(0, 0, 0, 0); height: 100%; width: 100%; position: absolute;}
._bcg-main-container ._bcg-image-container ._bcg-image-overlay ._bcg-deco-overlay {text-align:center;position: relative;top: 20%;/*border-top: 2px solid #000;*/}
._bcg-main-container ._bcg-image-container ._bcg-image-overlay ._bcg-deco-overlay img{width:40%;opacity: .3;margin-top: -7%;}
._bcg-main-container ._bcg-image-container ._bcg-image-overlay ._bcg-ruler-overlay {color: #777;}
._bcg-main-container ._bcg-image-container ._bcg-image-overlay ._bcg-ruler-overlay ._bcg-ruler-container ._bcg-rule{border-top: 2px solid #777;width: 10px;position: absolute;right: 2px;height: 3%;border-right: 2px solid #777;}
._bcg-main-container ._bcg-image-container ._bcg-image-overlay ._bcg-ruler-overlay ._bcg-ruler-container ._bcg-rule:last-of-type{height:0px;}
._bcg-main-container ._bcg-image-container ._bcg-image-overlay ._bcg-ruler-overlay ._bcg-ruler-container ._bcg-rule-num{right: 15px;top: -7px;position: absolute;font-size: 0.7em;}

._bcg-main-container ._bcg-option-container {width:40%;float:left;}
._bcg-main-container ._bcg-option-container > div {padding:10px;}
._bcg-main-container ._bcg-option-container ul li{border: 2px solid #ccc; margin: 10px 0px; padding: 10px;cursor:pointer;color:#999;}
._bcg-main-container ._bcg-option-container ul li:hover{border-color: #777; color:#777;}
._bcg-main-container ._bcg-option-container ul li.selected{border-color: #777; color:#777;}

footer {padding: 15px;clear: both;}
footer ul._bcg-buttons {padding-left:0px;margin: 0px;}
footer ul._bcg-buttons li {list-style:none;display:inline-block;width: 32%;text-align: center;}
footer ul._bcg-buttons li button {width: 80%;padding: 10px; }